<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OhioStreamCuyahogaHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="OhioStreamCuyahogaHelper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OhioStreamCuyahogaHelper.Properties.Settings>
            <setting name="ParcelListFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value>2012-08-09</value>
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value>2012-08-10</value>
            </setting>
            <setting name="CuyahogaSearchWebAddress" serializeAs="String">
                <value>http://recorder.cuyahogacounty.us/searchs/parcelsearchs.aspx</value>
            </setting>
            <setting name="IntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
        </OhioStreamCuyahogaHelper.Properties.Settings>
        <OhioStreamCuyahogaHelper.Settings>
            <setting name="ParcelListFileLocation" serializeAs="String">
                <value/>
            </setting>
        </OhioStreamCuyahogaHelper.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
